
section.hero {
  height: 100vh;
  background: rgb(20,245,151);
//  background: linear-gradient(60deg, rgba(20,245,151,1) 0%, rgba(24,157,207,1) 100%);
  background: linear-gradient(180deg, rgba(24,157,207,1) 0%, rgba(16,116,230,1) 80%);
  display: grid;

  grid-template-columns: 1fr 38% 1fr;
  grid-template-rows: 120px 1fr 100px;  

  @media (max-width:768px) {
    grid-template-columns: 1fr 70% 1fr;
    grid-template-rows: 100px 1fr 100px;  
  
  }

}


.hero-middle { 
  grid-area: 2 / 2 / 3 / 3; 
  align-self: center;
  font-size: 24px;

  @media (max-width:1300px) {
      font-size: 20px;
    }

  @media (max-width:992px) {
    font-size: 16px;
  }

  @media (max-width:400px) {
    font-size: 14px;
  }

}

.hero-tagline {
    font-size: 2.2em;
}

.hero-meta {
  font-size: 1.5em;
  font-weight: 500;
  color: white;

}


#button-hero1, #button-hero2 {
  font-size: 1.2em;
  font-weight: 500;
}

.hero #button-hero1 { 
    background-color: white;
    color: $primary-color;
}


section.hero-alt {

  position: relative;

  width: 100%;
  height: 80vh;

  /* Will not allow the video to overflow the 
  container */
  overflow: hidden;

  /* Centering the container's content vertically 
  and horizontally */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width:768px) {
    height: 100vh;
  }

}

.bg-video {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.hero-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.hero-content .event-logo {
  min-width: 300px;
}

.hero-content .event-meta {
  text-align: left;
  color: white;
  padding-left: 3em;
  font-size: 18px;

  @media (max-width:768px) {
    text-align: center;
  }

  h1 {
    font-size: 2.2em;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
  }

  h3 {
    font-size: 1.5em;
  }
  #button-hero1 { 
    background-color: white;
    color: $primary-color;
    border: solid $primary-color 2px;
  } 
  #button-hero1:hover {
    background-color: $primary-color;
    color: white;
  }
  #button-hero1 a:hover {
    color: white;
  }
}