

.hero-middle { 
  grid-area: 2 / 2 / 3 / 3; 
  align-self: center;
  font-size: 24px;

  @media (max-width:1300px) {
      font-size: 20px;
    }

  @media (max-width:992px) {
    font-size: 16px;
  }

  @media (max-width:400px) {
    font-size: 14px;
  }

}

.hero-tagline {
    font-size: 2.2em;
}

.hero-meta {
  font-size: 1.5em;
  font-weight: 500;
  color: white;

}
section.hero-alt {
  margin-bottom: 0;
}

#button-hero1, #button-hero2 {
  font-size: 1em;
  font-weight: 500;
}

section.hero-alt {

  margin-top: 80px;
  position: relative;
  width: 100%;
  min-height: 75vh;

  /* Will not allow the video to overflow the 
  container */
  overflow: hidden;

  /* Centering the container's content vertically 
  and horizontally */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

}

.bg-video {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color:$darkblue;
}

.video-overlay {
  position: absolute;
  inset:0;
  background: linear-gradient(90deg, #011A6666 0%, #011A66cc 70%);
}

.hero-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 60px auto;
}

.hero-content .event-logo {
    width: 350px;
}

.hero-content .event-meta {
  text-align: left;
  color: white;
  padding-left: 3em;
  font-size: 18px;
  max-width:800px;

  h1 {
    font-size: clamp(2rem, 4.2vw, 3.4rem);
    // text-transform: uppercase;
    font-weight: 700; 
  }



  @media (max-width:768px) {
    padding-left: 0;
    text-align: center;
    max-width: 100vw;
    padding: 0 15px;

    h1 {
      font-size: 2em;
      letter-spacing: 0;  
    }
  }
  .hero-meta {
    margin: 20px 0 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size:1.1rem;

    >div {
      display: flex;
      padding: 1rem;
      border-right: 1px solid rgba(255,255,255,0.25);
      &:last-child{
        border-right: 0 none;
      }
    }
    h3{
      font-size:1.7rem;
      margin-bottom: 0;
    }
    .hero-icon {
      font-size:2rem;
      padding: 0 10px 10px;
    }
    @media (max-width:768px) {
      grid-template-columns: 1fr 1fr;
      margin-bottom:50px;
      >div {
      display: block;
      padding: 1rem;
      border-right: 0 none;
    }
    }
  }

}