

.section.footer{
	background: $lightblue;
	padding: 50px 25px; 
	position: relative;
	margin-bottom: 0 !important;
}
.section.footer::before{
	display: block;
	content: "";
	height: 3px;
	background-color: #0f3ad8;
	background-image: linear-gradient(90deg, $primary-color 0%, $darkblue 100%);
	position: absolute;
	top: 0px;
	left: 0;
	right: 0;
}

.footer a{

	&:hover{
		text-decoration: underline;
	}
}

.footer h4 {
	font-size: 1.15em;
}


ul.footer_links {
	list-style-type:none;
	padding:0;
	font-size: 16px;
}

.footer-socials {
	list-style-type: none;
	margin: 0;
	padding: 0;
	a {
		padding: 0px 10px;
		font-size: 1rem;
		i {
			display: inline-block;
			width: 25px;
			text-align:center;
			font-size: 1.5rem;
			vertical-align: -0.2rem
		}
	}
}



@include mobile {
	.sub-form .btn {
		position: relative;
		margin-top: 16px !important;
		border-radius: 5px;
	}
}

@include mobile-xs {
	.sub-form .btn {
		position: relative;
		margin-top: 16px !important;
		border-radius: 5px;
	}
}

@include tablet {
	.sub-form .btn {
		position: relative;
		margin-top: 16px !important;
		border-radius: 5px;
	}
}