
.navbar {
  align-items: flex-end;
}

.main-nav {
  background-color: $white;
}


.main-nav {
  padding: 1em;
  transition: all .7s linear;

  .nav-link {
    font-size: 26px;
    padding: 0 !important;
    margin: 0 20px;

    @media (max-width: 992px) {
      margin-bottom: 6px;
      font-size: 20px;
    }
  
    &:hover {
      color: $black-lighter;
    }
  
  }
}

.btn-sm {
  padding: 5px 18px;
  border-radius: 50px;
}

@media (min-width: 768px) {
  .top-nav-collapse {
    text-shadow: none;
    border-color: transparent;
    background-color: $white;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    -ms-transition: all .2s ease;
    transition: all .2s ease;
  }
}

.dropdown {
  padding: 0px;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-item {
  padding: 10px 12px 10px 25px;
  border-bottom: 1px dashed $border-color;
  border-left: 3px solid transparent;

  &:hover {
    color: $primary-color;
    background: transparent;
    border-left: 3px solid $primary-color;
  }
}

.dropdown-menu {
  min-width: 250px;
  border: 0px;
  border-radius: 0px;
  box-shadow: 3px 1px 20px 0 rgba(0, 0, 0, 0.07);
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  transition: all .15s ease-out;
  display: block;
  padding: 0px !important;
}

.dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
}

.page-header {

  margin-top: 80px;
  margin-bottom: 30px;
  padding: 50px 0 20px 0;
  color: white;
  background: linear-gradient(60deg, rgba(24,157,207,1) 0%, rgba(16,116,230,1) 80%);


}

.error {
  h2 {
    font-size: 89px;
    color: #888;
  }
}

@include mobile {
  .navbar-nav .dropdown-menu {
    position: absolute;
  }

}

@include mobile-xs {
  .navbar-nav .dropdown-menu {
    position: absolute;
  }

}

@include tablet {
  .navbar-nav .dropdown-menu {
    position: absolute;
  }

}

@include desktop {
  .navbar-nav .dropdown-menu {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

#select-language{
  @include desktop {
    display: block;
    margin: auto !important;
  }
}

