
@font-face {
  font-family: "Avenir";
  src: url("/fonts/Avenir-Roman.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("/fonts/Avenir-Oblique.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Avenir";
  src: url("/fonts/Avenir-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("/fonts/Avenir-Black.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

body{
  font-family: $base-font;
  font-size: $base-font-size;
  font-weight: 400;
  line-height: 120%;
  color: $black-lighter;
}

a {
	color: $primary-color;
	text-decoration: none;
  transition: .3s all;
  &:hover{
    color: $secondary-color;
  }
}

// h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{
//  color: inherit;
// }

h1, .h1 {
  font-size: 42px;
  font-weight: 500;
}

h2, .h2 {
  font-family: $heading-font;
  font-weight: 500;
  font-size: 38px;
}


h3, .h3 {
  font-family: $heading-font;
  font-size: 28px;
  font-weight: 500;
}

h4, .h4 {
  font-size: 20px;
  font-weight: 500;
}


h5, .h5 {
  font-size: 18px;
}

h6, .h6 {
  font-size: 16px;
  
}

.lead{
  line-height: 35px;
}


.text-secondary{
  color: $secondary-color!important;
}
.text-primary{
  color: $primary-color!important;
}

.subtitle{
  font-family: $base-font;
  text-transform: capitalize;
}

.lg-title{
  font-size:62px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}



