<section class="section blog">
  <div class="container">
    <div class="heading mb-4 text-center">
      <h2>Latest News</h2>
    </div>
    <div class="row">
      {{ range first 3 (where .Site.RegularPages "Type" "blog" )}}

      {{ if .Params.redirection }}
      <div class="col-lg-4 col-md-6">
        <a href="{{ .Params.redirection }}">
          <div class="blog-item card border-0 mb-5 mb-lg-0">
            {{ $img := resources.Get (index .Params.images 0) }}
            {{ with $img }}
            {{ $imgp := $img.Resize "300x webp" }}
            <img src="{{$imgp.Permalink }}" alt="" class="img-fluid">
            {{ end }}
            <div class="blog-caption">
              <h3 class="mt-2 mb-3">{{ .Title | markdownify }}</h3>
            </div>
          </div>
        </a>
      </div>

      {{ else }}
      <div class="col-lg-4 col-md-6">
        <a href="{{ .Permalink | relURL}}">
          <div class="blog-item card border-0 mb-5 mb-lg-0">
            {{ $img := resources.Get (index .Params.images 0) }}
            {{ with $img }}
            {{ $imgp := $img.Resize "300x webp" }}
            <img src="{{$imgp.Permalink }}" alt="" class="img-fluid">
            {{ end }}
            <div class="blog-caption">
              <h3 class="mt-2 mb-3">{{ .Title | markdownify }}</h3>
            </div>
          </div>
        </a>
      </div>
      {{ end }}

      {{ end }}
    </div>
  </div>
</section>
