<section>
  <div class="container my-3 mb-5">
      <div class="row bottom-cta rounded-4 p-3 gx-sm-5 mx-auto align-items-center">
          <div class="col-12 col-sm-3 text-center">
              <img src="/images/osacon2026-cubes.png" alt="OSA CON logo" class="img-fluid w-75" >
          </div>
          <div class="col-12 col-sm-5 text-center text-sm-start">
            <h3 class="text-white">Join OSA Con 2026</h3>
<p class="opacity-75">The anti-hype conference for open-source analytics and AI. 
Connect with engineers, maintainers, and technology leaders building the future of data.</p>
          </div>
          <div class="col-12 col-sm-4 text-center text-sm-start pb-3 pb-sm-0">
            <div class="fs-5 text-white">November 2, 2026</div>
            <div class="fs-5 text-white opacity-75">San Francisco + Online</div><br />
            <a target="_blank" class="btn btn-primary rounded my-2" href="{{ .Site.Params.registerURL }}">Register</a></div>
      </div>
  </div>
</section>    

