<section class="section featured-content">
  <div class="container text-center">
    <div class="heading mb-4">
      <h2>Featured Sessions</h2>
    </div>
    <div class="d-flex justify-content-around flex-wrap">
      {{ range where (where .Site.Pages.ByDate "Type" "sessions") "Params.featured" true }}
      <div class="featured-item mx-3 my-3">
        <a href="{{.Permalink}}">
          {{ $img := resources.Get (index .Params.images 0) }}
          {{ with $img }}
            {{ $imgp := $img.Resize "400x webp" }}
            <img src="{{$imgp.Permalink }}" alt="{{.Title}}" class="img-fluid">
          {{ end }}  
        </a>
      </div>
      {{ end }}
    </div>
    <h3 class="mt-4"><a href="/program">View the full program</a></h3>

  </div>
</section>

