{{ $links := .Site.Params.links }}

<footer class="section footer">
	<div class="container">
		<div class="footer-strip">
			<div><h3 class="mb-3">{{.Site.Title}}</h3>
				<ul class="list-inline footer-socials "  style="margin-left: -2px;">
					{{ range .Site.Params.links.social }}
                    <li class="list-inline-item mx-2 h3" data-toggle="tooltip" data-placement="top" title aria-label="{{ .name }}" data-original-title="{{ .name }}">
                        <a title="{{ .name}}" target="_blank" href="{{ .url }}">
                          <i class="{{ .icon }}" aria-hidden="true"></i>
                        </a>
                    </li>    

					{{ end }}
				</ul>
			</div>
			
			<div>
				<h4>Previous editions</h4>
				<ul class="footer_links">
					{{ range .Site.Params.links.footer_previous }}
					<li><a target="_blank" href="{{ .url | safeURL }}">{{ .name }}</a></li>
					{{ end }}
				</ul>
			</div>

			<div>
				<h4>Event resources</h4>
				<ul class="footer_links">
					{{ range .Site.Params.links.footer_resources }}
					<li><a href="{{ .url | safeURL }}" target="_blank">{{ .name }}</a></li>
					{{ end }}
				</ul>
			</div>
		</div>
	</div>
</footer>



{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range .Site.Params.plugins.js}}
<script src="{{ .link | relURL }}" crossorigin="anonymous"></script>
{{ end }}
