<section class="hero-alt">
  <div class="bg-video-container">
    <video class="bg-video" playsinline="" muted="" loop="" src="/images/homepage_bg_02.mp4" poster="/images/homepage_bg_02.mp4" autoplay=""></video>
    <div class="hero-content">
      <div class="event-logo mb-4 mb-sm-0">
        <img src="/images/osacon2025-cubes.png" alt="OSA CON logo" class="img-fluid">      
      </div>
      <div class="event-meta">
        <h1>The Open Source <br>Analytics Conference</h1>
        <h3>{{ .Site.Params.hero.text }}</h3>
        <!--<button id="button-hero1" type="button" class="btn btn-rounded btn-outline-primary my-2 mx-4"><a href="https://sessionize.com/osacon-2025/" target="_blank">CFP is open &nbsp;<i class="fas fa-arrow-circle-right"></i></a></button>-->
        <button id="button-hero2" type="button" class="btn btn-rounded btn-outline-primary my-2"><a target="_blank" href="https://us.airmeet.com/e/ddf49100-26c9-11f0-9913-db14c2def628">Watch Recordings</a></button>

      </div>  
    </div>
  </div>
</section>    

<p class="text-center mt-3"><strong>Join colleagues from all over the world to learn about the latest trends in open source analytics</strong></p>

