<section class="hero-alt">
  <div class="bg-video-container">
    <video class="bg-video" playsinline="" muted="" loop="" src="/images/homepage_bg_02.mp4" poster="/images/homepage_bg_02.mp4" autoplay=""></video>
    <div class="hero-content">
      <div class="event-logo mb-4 mb-sm-0">
        <img src="/images/osacon2023-cubes.png" alt="OSA CON logo" class="img-fluid">      
      </div>
      <div class="event-meta">
        <h1>The Open Source <br>Analytics Conference</h1>
        <h3>December 12-14, 2023. Online</h3>
        <button id="button-hero2" type="button" class="btn btn-rounded btn-outline-primary my-2"><a href="https://us.airmeet.com/e/c7ebf9c0-5d03-11ee-b9d8-cb88fcc4024e">Join online</a></button>
        <button id="button-hero1" type="button" class="btn btn-rounded btn-outline-primary my-2 mx-4"><a href="https://www.eventbrite.com/e/osa-con-2023-offline-event-tickets-769236957447" target="_blank">Join us in person at SFO</a></button>
      </div>  
    </div>
  </div>
</section>    

